[Unit]
Description=Script Auto Run
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/ubuntu/workspace/Test/venv/bin/python /home/ubuntu/workspace/Test/ping.py
Restart=always

[Install]
WantedBy=multi-user.target