venv/
__pycache__/
.idea/
.DS_Store

app/data/certificate/certificate.pem.crt
app/data/certificate/private.pem.key
app/data/certificate/public.pem.key
app/data/certificate/rootCA.pem
app/parsing.log
app/data/config.py
app/tox.ini
