venv/
__pycache__/
.idea/
.DS_Store
app/.env

app/data/certificate/certificate.pem.crt
app/data/certificate/private.pem.key
app/data/certificate/public.pem.key
app/data/certificate/rootCA.pem
parsing.log
app/data/config.py
