Adafruit-Blinka==8.30.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-ds3231==2.4.20
adafruit-circuitpython-ltr390==1.1.16
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==2.0.4
adafruit-circuitpython-typing==1.9.6
Adafruit-PlatformDetect==3.58.0
Adafruit-PureIO==1.1.11
certifi==2025.6.15
charset-normalizer==3.4.2
colorzero==2.0
gpiozero==1.6.2
idna==3.10
ntplib==0.4.0
paho-mqtt==1.6.1
prettytable==3.10.0
psycopg2-binary==2.9.9
PyBoard==1.1.4
pyftdi==0.55.0
pymata-aio==2.35
pyserial==3.5
python-dotenv==1.0.1
pytz==2023.3.post1
pyusb==1.2.1
requests==2.32.4
rpi-ws281x==5.0.0
RPi.bme280==0.2.4
RPi.GPIO==0.7.1
smbus2==0.4.3
sysv-ipc==1.1.0
typing-extensions==4.9.0
urllib3==2.5.0
wcwidth==0.2.13
websockets==12.0