[Unit]
Description=App AutoRun
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/raspberry/workspace/raspberry_soft/app/venv/bin/python3 /home/raspberry/workspace/raspberry_soft/app/main.py
WorkingDirectory=/home/raspberry/workspace/raspberry_soft/app
Restart=always
User=raspberry
Group=raspberry

[Install]
WantedBy=multi-user.target