[Unit]
Description=Internet Connection check/connect
After=network.target

[Service]
ExecStart=/bin/bash -c "/usr/bin/python3 /home/username/scripts/InetCheckConnect.py >> /home/username/Desktop/internet.log 2>&1"
WorkingDirectory=/home/username/scripts
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target
